.select {
  @apply relative w-max mr-5;

  > button {
    @apply flex text-white items-center;

    > b {
      @apply mr-2 font-semibold;
    }

    > svg {
      @apply ml-4;
    }
  }

  > ul {
    @apply absolute right-0 z-20 w-max;
    top: calc(100% + 1rem);

    > li {
      @apply mb-3 text-white block w-full rounded-lg bg-primary px-7 py-2 text-center shadow-md transition-colors duration-200 ease-linear;

      transform: translateX(100%);
      opacity: 0;
      animation: slideInRight 0.5s forwards;

      &:hover:not(&.active) {
        @apply bg-primary/70
      }

      &.active {
        @apply bg-primary/50;

        > button {
          @apply font-bold;
        }
      }

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          animation-delay: 0.1s * $i;
        }
      }
    }
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}